RewriteEngine on
RewriteMap newsmap txt:/srv/dereel.com.au/html/news/newsmap.txt
RewriteRule ^/201[0123]/[0-9][0-9]/(.*)/$ ${newsmap:$1} [R=301,L,NE]
RewriteRule ^/dereel /about/ [R=301,L,NE]
RewriteRule ^/feed/$ /news/atom.xml
