@import "bootstrap";

.alignleft {  float: left;  padding: 12px; }
.alignright {  float: right;  padding: 12px; }
.byline { text-align: right; font-size: 80%; padding-bottom: 25px; }
.post > .footer { text-align: right; padding-top: 25px; font-size: 80%; }
footer { text-align: right; }
.recentcomments { font-size: 85%; }

img { display: block; height: auto; max-width: 100%; }

#megatron {
  background: url(/images/dereel-bg.png);
  background-position-x: 50%;
  background-position-y: -190px;
  background-size: 130%;
  background-attachment: inherit;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.8) inset, 0 -10px 10px -10px rgba(0,0,0,0.8) inset;
}

.jumbotron { background-color: transparent; }

blockquote {
  border: none;
}

blockquote:before {
  content: "\f10d";
  font-family: FontAwesome;
  font-size: 22pt;
  float: left;
  color: rgba(0,100,0,.4);
  padding-right: 14px;
}

