// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

.alignleft {  float: left;  padding: 12px; }
.alignright {  float: right;  padding: 12px; }
.byline { text-align: right; font-size: 80%; padding-bottom: 25px; }
.post > .footer { text-align: right; padding-top: 25px; font-size: 80%; }
footer { text-align: right; }
.hero-unit { -webkit-box-shadow:0 0 20px 5px #0080ff;-moz-box-shadow:0 0 20px 5px #0080ff;box-shadow:0 0 20px 5px #0080ff; }
