@import "functions";
@import "variables";
@import "bootstrap";
@import "flexvideo";

.alignleft {  float: left;  padding: 12px; }
.alignright {  float: right;  padding: 12px; }
.byline { text-align: right; font-size: 80%; padding-bottom: 25px; }
.post > .footer { text-align: right; padding-top: 25px; font-size: 80%; }
footer { text-align: right; }
.recentcomments { font-size: 85%; }

img { height: auto; max-width: 100%; }

#megatron {
  background: url(/images/dereel-school-children.jpg);
  background-position-x: 50%;
  background-position-y: -70px;
  background-size: 130%;
  background-attachment: inherit;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 10px 10px -10px black inset, 0 -10px 10px -10px black inset;
}

.jumbotron { background-color: rgba(255,255,255,0.8); }

blockquote {
  border: none;
}

blockquote p {
  color: rgba(0,0,0,0.5);
}

blockquote:before {
  content: "\f10d";
  font-family: FontAwesome;
  font-size: 18pt;
  float: left;
  color: rgba(0,100,0,.4);
  padding-right: 14px;
}

p { font-weight: 300; }
nav { font-weight: 300; }
