---
layout: base
title: Source Code
---

.panel.panel-success
  .panel-heading
    %h4
      %i.fa.fa-exclamation-circle.fa-lg
      Quick Info
  .panel-body
    Below is a lot of geeky information on how you can directly edit/change the content on this website.  I fully understand that not everyone will be able to perform the tasks below so if you have some news or updates that you want posted on this site the easiest way is to email the details to me at <code>scott@dereel.com.au</code> and I'll be happy to help.

:markdown
  ## #{page.title}

  The entire source code for this website is available at: [github.com/dereel/dereel.com.au](http://github.com/dereel/dereel.com.au)

  ### How to checkout and run your own development version of this website

  1. Install [rvm](http://rvm.io/)
  1. Checkout the dereel website from github:
     `$ git clone https://github.com/dereel/dereel.com.au.git`
  1. Move into the repo
     `$ cd dereel.com.au`
  1. Update the rvm environment by following any instructions [rvm](http://rvm.io/) tells you (e.g. installing `ruby`)
  1. Update the gems
     `$ rake update`
  1. Run a development instance of the website on your system:
     `$ rake`

  Now browse to [http://localhost:4242](http://localhost:4242) to view the
  development site or replace `localhost` with the address (IP or hostname)
  of your development server.

  ### How to submit content

  After checking out the dereel source code create a file in the `news/`
  directory using the following format:

      YYYY-MM-DD-a-url-safe-unique-title-similar-to-posts-title.md

  Where `YYYY` is the current year and `MM` and `DD` are the month and date 0
  padded.  Then in that file put the following contents:

      ---
      layout: post
      title: My more fancy title
      author: Your Name
      ---
      My excellent post written using the [markdown](http://daringfireball.net/projects/markdown/basics) markdown language.

  You can replace the extention of the file (`.md`) with `.html.haml` if you
  want to use `haml` or `.html.textile` if you prefer `textile` markdown. Also
  be aware that the text between the `---` lines is YAML and so you will need
  to put text containing `:` in quotes (`"`) and if you do that then escape any
  `"`'s

  Once you've created your post file add it to git (assuming you're in the
  `news/` directory):

      $ git add YYYY-MM-DD-a-url-safe-unique-title-similar-to-posts-title.md

  Now launch the development server and check that the file compiles and
  renders correctly, this needs to done from the top of the repository (ie. one
  directory above `news/`):

      $ cd ..
      $ rake clean && rake
        [ browse to http://localhost:4242 and check you post ]

  Once you are happy with your new post you can submit it back into Github
  (after I've added you as a collaborator) where it will be deployed the next
  time the website is updated:

      $ git commit -a
        [ add a short description of the change, e.g. "add news about ___" ]
      $ git push
        [ enter your Github username and password ]

  After this is complete I will receive an email notifying me of the commit and
  I will endevour to deploy your change to the server as soon as possible.

  ### Getting added as a Collaborator

  Simply send me an email (`scott@dereel.com.au`) requesting to be a
  collaborator and tell me what your [Github](http://github.com) username is.
  You can of course fork the Dereel project and submit your changes to your own
  fork and then send me a pull request to merge them.
